<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div><a href="registration">Registration</a></div>
<div><a href="authorization">Authorization</a></div>
</body>
</html>